<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object test example">
<listeners><listener class-name="utility.TestListener"/></listeners>

<parameter name="appURL" value="https://www.ultimatix.net"/>
<test name="sample test" enabled="true">
    <parameter name="browserType" value="firefox"/>
    <classes>
      <class name="test.MainPageTest"/>
      <class name="test.IEvolvePageTest"/>
      
      
     </classes>
  </test>
  <test name="sample test chrome" enabled="false">
    <parameter name="browserType" value="chrome"/>
    <classes>
      
     </classes>
  </test>
</suite>